<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<h1>WELCOME TO BOOKERS!!</h1>
			<p>Enjoy Bookers <span class="glyphicon glyphicon-book"></span></p>
			<p>Enjoy Book Life <span class="glyphicon glyphicon-thumbs-up"></span></p>
		</div>
	</div>
</div>